a {
  font-size: 1.3rem;
  text-decoration: none;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.9rem;
}

p {
  font-size: 1.1rem;
}

header {
  position: fixed;
  width: 100%;
  background-color: black;
  height: 6rem;
  z-index: 9999;
}
header a {
  color: azure;
  transition: color;
  transition-duration: 0.3s;
}
header a:hover {
  color: #a8afaf;
}
header img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  padding-top: 0.5rem;
}

.main-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "header-left header-right";
}

.header-left {
  grid-area: header-left;
  margin-left: 5rem;
}

.header-right {
  grid-area: header-right;
  padding-top: 2rem;
  display: flex;
  flex-direction: row;
}
.header-right a {
  margin-right: 5rem;
}

.dropdown {
  display: none;
}

.project-link {
  position: relative;
  height: 4rem;
}

.project-link:hover .dropdown {
  border-top: 4px solid #9E8157;
  z-index: 99;
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 10rem;
  background-color: rgba(236, 236, 236, 0.95);
  margin-top: 2.75rem;
  width: 20rem;
  margin-left: -6rem;
  padding-left: 2rem;
}
.project-link:hover .dropdown a {
  text-decoration: underline;
  color: #9E8157;
  padding-top: 1.5rem;
  transition: color;
  transition-duration: 0.5s;
}
.project-link:hover .dropdown a:hover {
  color: #dcb57c;
}

footer {
  background-color: black;
  margin-top: 5rem;
  width: 100%;
  height: 14rem;
}
footer a {
  color: azure;
}

.main-footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "footer-left footer-right";
}

.footer-left {
  grid-area: footer-left;
  margin-left: 10rem;
  display: flex;
  align-items: center;
}

.footer-right {
  grid-area: footer-right;
  display: flex;
  flex-direction: column;
  margin-left: 10rem;
  padding-top: 2rem;
}
.footer-right a {
  margin-top: 1rem;
}

.before-main img {
  margin-top: 6rem;
  width: 100%;
  height: 70rem;
}

.main {
  width: 60%;
  margin-left: 20%;
}

.article-home {
  width: 90%;
  margin-left: 5%;
  margin-top: 7rem;
  letter-spacing: 0.1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 80px;
  grid-template-areas: "left-part img";
}
.article-home .left-part {
  grid-area: left-part;
}
.article-home img {
  width: 40rem;
  height: 28rem;
}
.article-home .img {
  grid-area: img;
}
.article-home h2 {
  margin-bottom: 2rem;
}
.article-home p {
  margin-bottom: 2rem;
  line-height: 1.5rem;
}

.article-2 {
  margin-top: 10rem;
}

.main-btn {
  background-color: #9E8157;
  border: 2px solid #9E8157;
  padding: 1rem 2rem;
  color: white;
  transition: background-color, color;
  transition-duration: 0.3s;
}
.main-btn:hover {
  background-color: white;
  color: #9E8157;
}

.div-btn {
  padding-top: 7rem;
}

.project {
  width: 100%;
  height: 28rem;
}

.main-project {
  padding-top: 6rem;
}
.main-project h2 {
  margin-top: 5rem;
  text-align: center;
}

.top-projects {
  margin-top: 2rem;
  width: 70%;
  margin-left: 15%;
}
.top-projects p {
  letter-spacing: 0.1rem;
}

.project {
  margin-top: 5rem;
}

.project .p-part {
  margin-top: 15%;
}

.project-card-content {
  display: none;
  position: absolute;
  margin-top: -30rem;
  background-color: rgba(35, 35, 35, 0.5);
  height: 100%;
}
.project-card-content p {
  padding-top: 10rem;
  margin-left: 2rem;
  margin-right: 3rem;
  color: white;
  line-height: 1.5rem;
  letter-spacing: 0.1rem;
}
.project-card-content .btn-project {
  margin-top: 5rem;
  margin-left: 8rem;
}

.project-card {
  position: relative;
  width: 25rem;
  height: 30rem;
  margin-top: 5rem;
  box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.25);
}
.project-card img {
  width: 25rem;
  height: 30rem;
}
.project-card:hover .project-card-content {
  display: block;
  opacity: 1;
}

.all-projects-cards {
  background-color: #ececec;
  margin-top: 5rem;
  padding-bottom: 10rem;
  padding-top: 10rem;
}
.all-projects-cards h3 {
  text-align: center;
}

.project-wrapper {
  width: 60%;
  margin-left: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*# sourceMappingURL=style.css.map */
